
<%= get_site_text("ABOUTPAGE") %>

<center>
<br>
<u><h2>Association Memberships</h2></u>
			<img src="/images/taos-org.jpg" width="300" alt="Taos Org"><br>
			<h2>Northern New Mexico Fine Arts And Crafts Guild</h2>
<br><br>
</center>