<br>
<center>
	<img src="/images/laluna2.png">
	<br><br>
	<img src="/images/m1.jpg" width="300">
	<Br>
	<Br>
		<center><div id="artistname">Maritza Kath</div></center>
	<br>
	<br>
	<div id="bio">
		A professionally trained designer keeping with the cultural traditions of her native Spanish-Andean heritage, 
		Maritza continues her family's legacy of over three generations of craftsman jewelers.
		<br><br>
		In choosing a different artistic approach from her family, Maritza uses fine gemstones from the Americas to the Far East, creating her own exotic, Western-style unique pieces.
	</div>
<a name="itemcarousel"></a> 
<object width="750" height="200"
  type="application/x-shockwave-flash"
  data="/swf/Carousel.swf">
  <param name="movie" value="/swf/Carousel.swf" />
  <param name="bgcolor" value="#000000" />
  <param name="flashvars" value="xmlfile=../../getphotoxml&loaderColor=#CCCCCC" />
</object>
</center>
<br>
