<br>
<center>
	<img src="/images/lalunalogo.jpg" width="500">
	<br><br>
	<img src="/images/m1.jpg" width="300">
	<Br>
		<center><div id="artistname">Maritza Kath</div></center>
	<br>
	<div id="bio">
		A professionally trained designer keeping with the cultural traditions of her native Spanish-Andean heritage, 
		Maritza continues her family's legacy of over three generations of craftsman jewelers.
		<br><br>
		In choosing a different artistic approach from her family, Maritza uses fine gemstones from the Americas to the Far East, creating her own exotic, Western-style unique pieces.
	</div>
	<br><br><br><br>
<div style="width:600px; text-align: center;"><embed type="application/x-shockwave-flash" wmode="transparent" src="http://w231.photobucket.com/pbwidget.swf?pbwurl=http://w231.photobucket.com/albums/ee308/miamistyles/laluna/a125f360.pbw" height="180" width="600"><a href="http://photobucket.com/slideshows" target="_blank"></a></div>
</center>
<br>
