<h3>Administration</h3>
<table cellspacing="10" cellpadding="10">
	<tr>
		<td bgcolor="lightblue"><a href="/">Back To Website</a></td>
		<td bgcolor="lightblue"><a href="/items">Items</a></td>
		<td bgcolor="lightblue"><%= link_to 'Site Content', site_contents_path %></td>
		<td bgcolor="lightblue"><%= link_to 'Ebay Pictures', mypictures_path %></td>
	</tr>
</table>

<hr>