<center>
	<a href="/about" style="color:white; font-size: 16px;">About The Artist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	<br><br>
	To Contact The Artist: maritza@lalunaranchwear.com
		<br>
	Copyright &copy; 2010, La Luna Ranchwear, LLC.<br>
	<% if current_user %>
		<a href="/logout">LOGOUT</a>
		<a href="/admin">Administration</a>
	<% end %>
	
</center>
