<html>
	<head>
		<title>La Luna Ranchwear, LLC. - Maritza Caldas, Artist</title>
		<script type="text/javascript" src="/javascripts/IEmarginFix.js"></script>
		<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
		<script src="/ckeditor/sample.js" type="text/javascript"></script>
		<link href="/ckeditor/sample.css" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="/stylesheets/laluna_admin.css" type="text/css">
	</head>
<body>
	<div id="bodycontent">
		<div id="header">
			<%= render(:partial => "shared/admin_header")%>
		</div>
		<%= @content_for_layout %>
		
	</div>
</body>
</html>
