<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>La Luna Ranchwear, LLC. - Maritza Caldas, Artist</title>
		<script type="text/javascript" src="/javascripts/IEmarginFix.js"></script>
		<script type="text/javascript" src="/javascripts/prototype.js"></script>
		<script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects,builder"></script>

		<script type="text/javascript" src="/javascripts/lightbox.js"></script>
		<link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />



		<link rel="stylesheet" href="/stylesheets/laluna.css" type="text/css">
	</head>
<body>
	<div id="bodycontent">
		<% if params[:controller] == 'items' %>
			&nbsp;&nbsp;<a href="/#itemcarousel">Back To Carousel</a>
		<% end %>
		<%= @content_for_layout %>
		
	</div>
	<div id="footer">
		<%= render(:partial => "shared/footer")%>
	</div>
	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13071258-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
